Repository metalsmith/metalsmith.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint, eslint

.lintstagedrc:

{
  "*.css": [
    "prettier --write",
    "git add",
    "stylelint"
  ],
  "*.js": [
    "prettier --write",
    "git add",
    "eslint"
  ]
}

Move husky config
  .huskyrc
  package.json
Due: none

Remove unused fonts
  lib/css/base/tags.css
  lib/css/base/variables.css
  lib/css/components/footer.css
  lib/css/components/header.css
Due: prettier --write, stylelint

Add back blazy
  package-lock.json
  package.json
  src/index.js
Due: prettier --write, eslint

Remove bithound badges
  lib/css/components/plugin.css
  metalsmith.js
  src/index.njk.md
Due: prettier --write, stylelint, eslint

Use prismjs for syntax highlighting
  .prettierignore
  .stylelintignore
  lib/css/vendor/prism.css
  lib/css/vendor/symbolset.css
  lib/views/base.njk
  lib/views/partials/highlighting.njk
  metalsmith.js
  package-lock.json
  package.json
  src/index.css
  src/index.js
  src/index.njk.md
Due: prettier --write, stylelint, eslint

Add development npm tasks
  README.md
  package-lock.json
  package.json
Due: none

Lint metalsmith build script as well
  .eslintignore
  .eslintrc.js
  lib/.eslintrc.js
  metalsmith.js
  src/.eslintrc.js
Due: prettier --write, eslint

Set layout in file instead of with default
  metalsmith.js
  src/index.njk.md
Due: prettier --write, eslint

Clean up markdown
  src/index.njk.md
Due: none

Livereload on markdown changes
  package.json
Due: none

Remove vendor css
  .prettierignore
  .stylelintignore
  lib/css/vendor/prism.css
  lib/css/vendor/symbolset.css
  lib/views/base.njk
  src/index.css
Due: prettier --write, stylelint

Use prism-themes
  package-lock.json
  package.json
  src/index.css
Due: prettier --write, stylelint

Fix suitcss compliance
  .stylelintrc.js
  lib/css/base/symbol-set.css
  lib/css/components/body.css
  lib/css/components/example-list.css
  lib/css/components/example.css
  lib/css/components/footer.css
  lib/css/components/header.css
  lib/css/components/plugin-filter.css
  lib/css/components/plugin-list.css
  lib/css/components/plugin.css
  lib/js/filter/index.js
  lib/views/base.njk
  package-lock.json
  package.json
  src/index.js
  src/index.njk.md
Due: prettier --write, stylelint, eslint

Restructure css
  lib/css/base/media.css
  lib/css/base/symbol-set.css
  lib/css/base/tags.css
  lib/css/base/variables.css
  lib/css/components/body.css
  lib/css/components/example-list.css
  lib/css/components/example.css
  lib/css/components/footer.css
  lib/css/components/header.css
  lib/css/components/plugin-filter.css
  lib/css/components/plugin.css
Due: prettier --write, stylelint

Fix css variable name
  lib/css/base/tags.css
Due: prettier --write, stylelint

Add nvmrc
  .nvmrc
Due: none

Use highlight.js for syntax highlighting
  metalsmith.js
  package-lock.json
  package.json
  src/index.css
  src/index.js
  src/index.njk.md
Due: prettier --write, stylelint, eslint

Align styles to match current site
  lib/css/base/tags.css
  lib/css/components/example.css
  lib/css/components/plugin.css
Due: prettier --write, stylelint

Restore build verification
  .travis.yml
  README.md
  metalsmith.test.js
  package-lock.json
  package.json
Due: prettier --write, eslint

Add heroku configuration
  package.json
Due: none

Fix in-place configuration mistake
  metalsmith.js
Due: prettier --write, eslint

Remove highlighting lib
  lib/views/base.njk
Due: none

Remove unused plugins
  package-lock.json
  package.json
Due: none

Use consistent variable references
  lib/views/partials/facebook.njk
  lib/views/partials/twitter.njk
Due: none

Add gitattributes
  .gitattributes
Due: none

Remove broken link
  lib/views/base.njk
Due: none

Add minification
  lib/js/filter/index.js
  metalsmith.js
  package-lock.json
  package.json
  src/index.js
Due: prettier --write, eslint

Start refactor
  .ruby-version
  Gruntfile.js
  component.json
  lib/data/examples.json
  lib/data/plugins.json
  lib/views/base.njk
  metalsmith.js
  package-lock.json
  package.json
  run_build.js
  src/img/divider-1.png
  src/img/divider-2.png
  src/img/divider-3.png
  src/img/divider-4.png
  src/img/divider-5.png
  src/img/divider-6.png
  src/img/facebook-image.png
  src/img/favicon.png
  src/img/ground.jpg
  src/img/twitter-image.png
  src/index.css
  src/index.js
  src/index.njk.md
  verify/build.js
Due: prettier --write, stylelint, eslint
