Repository metalsmith/metalsmith.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint, eslint

.lintstagedrc:

{
  "*.css": [
    "prettier --write",
    "git add",
    "stylelint"
  ],
  "*.js": [
    "prettier --write",
    "git add",
    "eslint"
  ]
}

chore: update code examples, new core plugin names/ links
  README.md
  lib/views/home.njk
  lib/views/plugins.njk
  src/index.njk.md
  src/step-by-step/index.njk.md
Due: none

feat: add core plugin badge to plugin list
  .eslintrc.js
  lib/css/components/plugin.css
  metalsmith.js
  src/plugins/index.njk.md
Due: prettier --write, stylelint, eslint

chore: Update dependencies
  lib/views/home.njk
  lib/views/plugins.njk
  package-lock.json
  package.json
Due: none

chore: run prettier, npm audit fix
  metalsmith.js
  package-lock.json
Due: prettier --write, eslint

chore: Update travis.yml to use Node 14
  .travis.yml
Due: none

chore: Update stylelint to latest
  .stylelintrc.js
  package-lock.json
  package.json
Due: prettier --write, eslint

chore: fix tiny prettier formatting issue
  .stylelintrc.js
Due: prettier --write, eslint

Website redesign
  lib/css/base/tags.css
  lib/css/base/variables.css
  lib/css/components/banner.css
  lib/css/components/footer.css
  lib/css/components/header.css
  lib/css/components/highlights.css
  lib/css/components/nav.css
  lib/css/components/page.css
  lib/css/components/plugin-list.css
  lib/css/components/plugin.css
  lib/views/default.njk
  lib/views/home.njk
  lib/views/partials/nav.njk
  lib/views/partials/svg/github.svg.njk
  lib/views/partials/svg/gitter.svg.njk
  lib/views/partials/svg/m.svg.njk
  lib/views/partials/svg/menu.svg.njk
  lib/views/partials/svg/metalsmith.svg.njk
  lib/views/partials/twitter.njk
  lib/views/plugins.njk
  metalsmith.js
  package-lock.json
  package.json
  src/about/index.njk.md
  src/api/index.njk.md
  src/index.njk.md
  src/news/index.njk.md
  src/plugins/index.njk.md
  src/step-by-step/index.njk.md
Due: prettier --write, stylelint, eslint

chore: fix tests
  metalsmith.test.js
  src/api/index.njk.md
Due: prettier --write, eslint

bugfix: fix css typo's during grep replace
  lib/css/base/tags.css
  lib/css/components/plugin.css
Due: prettier --write, stylelint

feat: make GDPR-compliant (cookiebanner), new analytics, fix few typo's
  lib/css/base/tags.css
  lib/css/components/cookiebanner.css
  lib/js/cookiebanner/index.js
  lib/views/default.njk
  lib/views/partials/analytics.njk
  metalsmith.js
  src/index.js
  src/index.njk.md
Due: prettier --write, stylelint, eslint

feat: add news layouts, add drafts for future publishing
  lib/css/base/tags.css
  lib/css/components/cookiebanner.css
  lib/css/components/nav.css
  lib/css/components/news.css
  lib/css/components/page.css
  lib/views/default.njk
  lib/views/partials/analytics.njk
  metalsmith.js
  package-lock.json
  package.json
  src/news/2022-01-27/metalsmith-is-back/index.njk.md
  src/news/2022-02-02/metalsmith-2+4+0-released/index.njk.md
  src/news/index.njk.md
Due: prettier --write, stylelint, eslint

feat: add mstile favicons, safari pinned tab
  lib/views/default.njk
  src/browserconfig.xml
  src/favicon.ico
  src/favicons/favicon.png
  src/favicons/mstile-144x144.png
  src/favicons/mstile-150x150.png
  src/favicons/mstile-310x150.png
  src/favicons/mstile-310x310.png
  src/favicons/mstile-70x70.png
  src/favicons/safari-pinned-tab.svg
Due: none

feat: replace metalsmith-browserify with parcel
  .gitignore
  lib/js/index.js
  metalsmith.js
  metalsmith/parcel-plugin/index.js
  metalsmith/parcel-plugin/package-lock.json
  metalsmith/parcel-plugin/package.json
  metalsmith/parcel-plugin/parcel-config.json
  package-lock.json
  package.json
  src/.eslintrc.js
Due: prettier --write, eslint

feat: prepare nunjucks codeblock
  metalsmith/nunjucks-codeblock.js
Due: prettier --write, eslint

chore: dump travis in favor of GH actions, fix minor js lint issue
  .github/workflows/pre-deploy.yml
  .travis.yml
  lib/.eslintrc.js
Due: prettier --write, eslint

chore: format w prettier, upgrade package-lock.json
  lib/.eslintrc.js
  package-lock.json
Due: prettier --write, eslint

chore: try fixing issue with node-gyp (parcel) by deleting package-lock.json
  metalsmith/parcel-plugin/package-lock.json
Due: none

chore: upgrade .nvmrc Node version to 16
  .nvmrc
Due: none

Publish news 'Metalsmith is back'
  src/news/2022-01-27/metalsmith-is-back/index.njk.md
Due: none

feat: swap parcel for esbuild, tweak list CSS, fix highlighting
  lib/css/base/tags.css
  lib/css/components/example.css
  lib/js/index.js
  lib/js/syntax-highlighting/index.js
  metalsmith.js
  metalsmith/esbuild-plugin/index.js
  metalsmith/esbuild-plugin/package-lock.json
  metalsmith/esbuild-plugin/package.json
  metalsmith/parcel-plugin/index.js
  metalsmith/parcel-plugin/package.json
  metalsmith/parcel-plugin/parcel-config.json
  package-lock.json
  package.json
Due: prettier --write, stylelint, eslint

test: swap jest for mocha, enhance tests
  .github/workflows/pre-deploy.yml
  metalsmith.test.js
  package-lock.json
  package.json
Due: prettier --write, eslint

feat: prepare Metalsmith-2.4.0 release news
  src/news/2022-02-02/metalsmith-2+4+0-released/index.njk.md
Due: none

chore: run prettier
  metalsmith.test.js
Due: prettier --write, eslint

feat: code font Inconsolata, updated JSdoc API docs
  lib/css/base/tags.css
  lib/css/base/variables.css
  lib/views/default.njk
  src/api/index.njk.md
Due: prettier --write, stylelint

feat: add anchors, update collections, css tweaks
  lib/.eslintrc.js
  lib/css/base/tags.css
  lib/css/components/plugin-list.css
  lib/js/anchors.js
  lib/js/index.js
  lib/views/default.njk
  metalsmith.js
  metalsmith/nunjucks-formatDate-filter.js
  package-lock.json
  package.json
  src/api/index.njk.md
  src/index.njk.md
  src/step-by-step/index.njk.md
Due: prettier --write, stylelint, eslint

chore: fix CSS/JS linting issues
  lib/css/base/tags.css
  lib/css/base/variables.css
  lib/js/anchors.js
  lib/js/index.js
  metalsmith/nunjucks-formatDate-filter.js
Due: prettier --write, stylelint, eslint

Publish 'Metalsmith 2.4 released news'
  lib/views/partials/twitter.njk
  src/api/index.njk.md
  src/news/2022-01-31/metalsmith-2+4-released/index.njk.md
Due: none

feat: add Twitter links to metalsmithio
  lib/css/components/nav.css
  lib/views/partials/nav.njk
  lib/views/partials/svg/twitter.svg.njk
  src/about/index.njk.md
Due: prettier --write, stylelint

feat: add sass, update devDependencies, fix 75 vulnerabilities
  .stylelintrc.js
  lib/css/base/media.css
  lib/css/components/banner.css
  lib/css/components/example.css
  lib/css/components/highlights.css
  lib/css/components/nav.css
  lib/css/components/news.css
  lib/css/components/page.css
  lib/css/components/plugin-filter.css
  lib/css/components/plugin.css
  lib/scss/base/_symbol-set.scss
  lib/scss/base/_tags.scss
  lib/scss/base/_variables.scss
  lib/scss/components/_banner.scss
  lib/scss/components/_body.scss
  lib/scss/components/_cookiebanner.scss
  lib/scss/components/_example-list.scss
  lib/scss/components/_example.scss
  lib/scss/components/_highlights.scss
  lib/scss/components/_nav.scss
  lib/scss/components/_news.scss
  lib/scss/components/_page.scss
  lib/scss/components/_plugin-filter.scss
  lib/scss/components/_plugin-list.scss
  lib/scss/components/_plugin.scss
  metalsmith.js
  package-lock.json
  package.json
  src/index.css
  src/index.scss
Due: prettier --write, stylelint, eslint

chore: plugins.json maintenance
  lib/data/plugins.json
Due: none

feat: minor CSS tweaks
  lib/scss/base/_tags.scss
  lib/scss/base/_variables.scss
Due: none

feat: start new docs, add tabbed code blocks, run prettier
  lib/js/anchors.js
  lib/js/codetabs.js
  lib/js/index.js
  lib/js/syntax-highlighting/index.js
  lib/scss/base/_tags.scss
  lib/scss/components/_code.scss
  lib/scss/components/_page.scss
  lib/scss/components/_toc.scss
  lib/views/default.njk
  metalsmith.js
  metalsmith/nunjucks-codeblock.js
  metalsmith/nunjucks-tabs.js
  package-lock.json
  package.json
  src/docs/index.njk.md
  src/index.scss
Due: prettier --write, eslint

fix: correct API docs for metalsmith.match
  src/api/index.njk.md
Due: none

Go is not a JS SSA, rather it is written in Go
  src/about/index.njk.md
Due: none

added a hyphen
  src/about/index.njk.md
Due: none

Add note + replit partial, build fixes
  lib/js/syntax-highlighting/index.js
  lib/scss/base/_tags.scss
  lib/scss/components/_note.scss
  lib/views/default.njk
  lib/views/partials/doc-mdlinks.njk
  lib/views/partials/replit.njk
  metalsmith.js
  src/index.njk.md
  src/index.scss
Due: prettier --write, eslint

Styling, layout & build fixes
  lib/js/anchors.js
  lib/scss/base/_tags.scss
  lib/scss/components/_example.scss
  lib/scss/components/_note.scss
  lib/views/default.njk
  lib/views/partials/doc-mdlinks.njk
  metalsmith.js
Due: prettier --write, eslint

Docs updates, make 'writing plugins' doc available
  src/docs/advanced-usage/index.njk.md
  src/docs/deploying/index.njk.md
  src/docs/getting-started/index.njk.md
  src/docs/index.njk.md
  src/docs/resources/index.njk.md
  src/docs/usage-guide/index.njk.md
  src/docs/writing-plugins/index.njk.md
  src/index.njk.md
Due: none

metalsmith-html-unused
  lib/data/plugins.json
Due: none
