Repository metalsmith/metalsmith.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint, eslint

.lintstagedrc:

{
  "*.css": [
    "prettier --write",
    "git add",
    "stylelint"
  ],
  "*.js": [
    "prettier --write",
    "git add",
    "eslint"
  ]
}

Add component logo
  src/img/logo.svg
  src/index.css
Due: prettier --write, stylelint

Remove vendor css
  .prettierignore
  .stylelintignore
  lib/css/vendor/prism.css
  lib/css/vendor/symbolset.css
  lib/views/base.njk
  src/index.css
Due: prettier --write, stylelint

Use prismjs for syntax highlighting
  .prettierignore
  .stylelintignore
  lib/css/vendor/prism.css
  lib/css/vendor/symbolset.css
  lib/views/base.njk
  lib/views/partials/highlighting.njk
  metalsmith.js
  package-lock.json
  package.json
  src/index.css
  src/index.js
  src/index.njk.md
Due: prettier --write, stylelint, eslint

Move husky config
  .huskyrc
  package.json
Due: none

Fix css variables
  src/index.css
Due: prettier --write, stylelint

Use consistent variable references
  lib/views/partials/facebook.njk
  lib/views/partials/twitter.njk
Due: none

Update package lock
  package-lock.json
Due: none

Remove unused plugins
  package-lock.json
  package.json
Due: none

Start refactor
  .ruby-version
  Gruntfile.js
  component.json
  lib/data/examples.json
  lib/data/plugins.json
  lib/views/base.njk
  metalsmith.js
  package-lock.json
  package.json
  run_build.js
  src/img/divider-1.png
  src/img/divider-2.png
  src/img/divider-3.png
  src/img/divider-4.png
  src/img/divider-5.png
  src/img/divider-6.png
  src/img/facebook-image.png
  src/img/favicon.png
  src/img/ground.jpg
  src/img/twitter-image.png
  src/index.css
  src/index.js
  src/index.njk.md
  verify/build.js
Due: prettier --write, stylelint, eslint

Use prism-themes
  package-lock.json
  package.json
  src/index.css
Due: prettier --write, stylelint

Fix css variable name
  lib/css/base/tags.css
Due: prettier --write, stylelint

Remove unused fonts
  lib/css/base/tags.css
  lib/css/base/variables.css
  lib/css/components/footer.css
  lib/css/components/header.css
Due: prettier --write, stylelint

Remove heroku related config
  package.json
Due: none

Update package-lock
  package-lock.json
Due: none

Add anton font for headings
  lib/css/base/tags.css
  lib/css/base/variables.css
  lib/views/base.njk
  src/index.njk.md
Due: prettier --write, stylelint

Add source code pro for code
  lib/css/base/tags.css
  lib/css/base/variables.css
  lib/views/base.njk
  src/index.njk.md
Due: prettier --write, stylelint

Switch to websafe fonts
  lib/css/base/variables.css
  lib/views/base.njk
Due: prettier --write, stylelint

Fix font stack (#282)
  lib/css/base/tags.css
  lib/css/base/variables.css
  lib/views/base.njk
  src/index.njk.md
Due: prettier --write, stylelint

Simplify box-sizing
  lib/css/base/tags.css
Due: prettier --write, stylelint

Fix example list with new box-sizing
  lib/css/components/example-list.css
  lib/css/components/example.css
Due: prettier --write, stylelint

Remove troubleshooting info for outdated node versions
  src/index.njk.md
Due: none

Fix event-stream vulnerability
  package-lock.json
  package.json
Due: none

Add "metalsmith-tweet-embed"
  lib/data/plugins.json
Due: none

Add metalsmith-projects to plugins listing
  lib/data/plugins.json
Due: none

Fix alphabetic (asc) sort of plugin listing
  lib/data/plugins.json
Due: none

Updated packages
  .gitignore
  package-lock.json
  package.json
Due: none

Add "metalsmith-frontmatter-file-loader"
  lib/data/plugins.json
Due: none

Add "metalsmith-frontmatter-renderer"
  lib/data/plugins.json
Due: none

Update src/index.njk.md
  src/index.njk.md
Due: none

Update lib/data/plugins.json
  lib/data/plugins.json
Due: none
