Repository metalsmith/metalsmith.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint, eslint

.lintstagedrc:

{
  "*.css": [
    "prettier --write",
    "git add",
    "stylelint"
  ],
  "*.js": [
    "prettier --write",
    "git add",
    "eslint"
  ]
}

Update plugins.json
  lib/data/plugins.json
Due: none

Adding another plugin
  lib/data/plugins.json
Due: none

Fixed static-site example code to run
  src/index.njk.md
Due: none

Adding two plugins
  lib/data/plugins.json
Due: none

feat: add plugin JSON insteadof Markdown
  lib/data/plugins.json
Due: none

Fix a few typo's in step-by-step guide
  src/step-by-step/index.njk.md
Due: none

Increases readability of code snippets & smaller screens (fixes #286)
  lib/css/base/tags.css
  lib/css/base/variables.css
  lib/css/components/header.css
  lib/views/base.njk
Due: prettier --write, stylelint

Update safe metalsmith & aux devDependencies
  package-lock.json
  package.json
Due: none

Update lint & git meta-dependencies, fix CSS stylelint issue
  lib/css/components/header.css
  package-lock.json
  package.json
Due: prettier --write, stylelint

Update ESLint, fix IE11 compat Array.from, disable ESlint strict rule
  lib/.eslintrc.js
  lib/js/filter/index.js
  package-lock.json
  package.json
  src/.eslintrc.js
Due: prettier --write, eslint

Specify most backward-compatible prettier configs, run prettier
  .prettierrc
  lib/.eslintrc.js
  lib/js/filter/index.js
  src/.eslintrc.js
  src/index.js
Due: prettier --write, eslint

Update postcss & jstransformer nunjucks
  package-lock.json
  package.json
Due: none

Remove git add from lintstaged, changed files are automatically added
  .lintstagedrc
Due: none

Add metalsmith-taxonomy & metalsmith-handlebars-x to plugin overview
  lib/data/plugins.json
Due: none

fix: add npm package to plugin - for scope
  lib/data/plugins.json
Due: none

docs: update readme what properties to add on plugin pull request
  src/index.njk.md
Due: none

Replace outdated slack link with new Gitter, a11y optimization: specify html lang
  lib/css/components/header.css
  lib/views/base.njk
Due: prettier --write, stylelint

Crisper loading of shields.io badges, proper Blazy.js initialization
  lib/css/components/plugin.css
  src/index.js
  src/index.njk.md
Due: prettier --write, stylelint, eslint

Implement single-page navigation, < 480px enhanced header display
  lib/css/components/header.css
  lib/views/base.njk
Due: prettier --write, stylelint

Fix star-on-github, gitter link order
  lib/css/components/header.css
Due: prettier --write, stylelint

Add SEO-friendlier HTML title
  lib/views/base.njk
  src/index.njk.md
Due: none

Remove metalsmith-prefixoid as deprecated
  lib/data/plugins.json
Due: none

Fix tests, update highlight.js
  metalsmith.test.js
  package-lock.json
  package.json
Due: prettier --write, eslint

fix: Move hljs code highlight to build, add CSS from CDN.
  lib/views/base.njk
  metalsmith.js
  src/index.js
Due: prettier --write, eslint

Add Image Aspect Ratio and Native Lazy Loading
  lib/data/plugins.json
Due: none

feat: Update highlight.js styling, multiple layouts, new plugin page
  lib/js/filter/index.js
  lib/views/home.njk
  lib/views/plugins.njk
  src/index.njk.md
  src/plugins/index.njk.md
  src/step-by-step/index.njk.md
Due: prettier --write, eslint

feat: cleaner CSS for general lay-out
  lib/css/base/tags.css
  lib/css/base/variables.css
  lib/css/components/body.css
  lib/css/components/header.css
  lib/css/components/plugin-list.css
  lib/views/home.njk
  lib/views/plugins.njk
Due: prettier --write, stylelint

chore: Update stylelint & dependencies
  .stylelintrc.js
  package-lock.json
  package.json
Due: prettier --write, eslint

chore: Upgrade package.json dependencies
  lib/views/home.njk
  metalsmith.js
  package-lock.json
  package.json
Due: prettier --write, eslint

feat: Finalize separate plugin page, optimize CSS resource fetching
  lib/css/components/header.css
  lib/views/home.njk
  lib/views/plugins.njk
  src/index.js
  src/index.njk.md
Due: prettier --write, stylelint, eslint

Fix tests
  metalsmith.test.js
Due: prettier --write, eslint

Fix BEM CSS issues, minor correction to doc about __dirname
  lib/css/components/header.css
  lib/views/home.njk
  lib/views/plugins.njk
  src/index.njk.md
Due: prettier --write, stylelint

chore: fix prettier css
  lib/css/components/header.css
  metalsmith.test.js
Due: prettier --write, stylelint, eslint

fix: Hide header buttons on mobile on non-home pages
  lib/css/base/tags.css
  lib/css/components/header.css
  lib/views/home.njk
  lib/views/plugins.njk
  src/plugins/index.njk.md
Due: prettier --write, stylelint

feat: Add npm install snippet to plugin repository, add basic sort mechanism
  lib/css/components/plugin-filter.css
  lib/css/components/plugin-list.css
  lib/css/components/plugin.css
  lib/js/filter/index.js
  metalsmith.js
  src/index.js
  src/plugins/index.njk.md
Due: prettier --write, stylelint, eslint

chore: Update plugins.json to point to @metalsmith packages + fix spelling typo's
  lib/data/plugins.json
Due: none

chore: lint css, js, prettier
  lib/css/base/tags.css
  lib/css/components/header.css
  lib/css/components/plugin.css
  lib/js/filter/index.js
  lib/views/home.njk
Due: prettier --write, stylelint, eslint

Travis CI test commit
  random.md
Due: none

chore: update plugin list
  lib/data/plugins.json
Due: none
