Repository metalsmith/metalsmith.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint, eslint

Use prism-themes
  package-lock.json
  package.json
  src/index.css
Due: prettier --write, stylelint

Align styles to match current site
  lib/css/base/tags.css
  lib/css/components/example.css
  lib/css/components/plugin.css
Due: prettier --write, stylelint

Fix css variable name
  lib/css/base/tags.css
Due: prettier --write, stylelint

Update package lock
  package-lock.json
Due: none

Add editorconfig
  .editorconfig
Due: none

Add component logo
  src/img/logo.svg
  src/index.css
Due: prettier --write, stylelint

Add prettier, stylelint and lint-staged
  .lintstagedrc
  .prettierignore
  .prettierrc
  .stylelintignore
  .stylelintrc.js
  lib/css/base/tags.css
  lib/css/base/variables.css
  lib/css/components/example.css
  lib/css/components/footer.css
  lib/css/components/header.css
  lib/css/components/highlight.css
  lib/css/components/plugin-filter.css
  lib/css/components/plugin.css
  lib/css/components/symbol-set.css
  lib/js/filter/index.js
  metalsmith.js
  package-lock.json
  package.json
Due: prettier --write, stylelint, eslint

Livereload on markdown changes
  package.json
Due: none

Lint metalsmith build script as well
  .eslintignore
  .eslintrc.js
  lib/.eslintrc.js
  metalsmith.js
  src/.eslintrc.js
Due: prettier --write, eslint

Fix css variables
  src/index.css
Due: prettier --write, stylelint

Remove vendor css
  .prettierignore
  .stylelintignore
  lib/css/vendor/prism.css
  lib/css/vendor/symbolset.css
  lib/views/base.njk
  src/index.css
Due: prettier --write, stylelint

Add back blazy
  package-lock.json
  package.json
  src/index.js
Due: prettier --write, eslint

Move husky config
  .huskyrc
  package.json
Due: none

Add heroku configuration
  package.json
Due: none

Add eslint
  .eslintignore
  .eslintrc
  .eslintrc.js
  lib/js/filter/index.js
  metalsmith.js
  package-lock.json
  package.json
Due: prettier --write, eslint

Add browserify
  lib/js/filter/index.js
  metalsmith.js
  package-lock.json
  package.json
  src/index.js
Due: prettier --write, eslint

Fix in-place configuration mistake
  metalsmith.js
Due: prettier --write, eslint

Clean up markdown
  src/index.njk.md
Due: none

Revert "Restore build verification"
  .travis.yml
  README.md
  metalsmith.test.js
  package-lock.json
  package.json
Due: prettier --write, eslint

Revert "Use prismjs for syntax highlighting"
  .prettierignore
  .stylelintignore
  lib/css/vendor/prism.css
  lib/css/vendor/symbolset.css
  lib/views/base.njk
  lib/views/partials/highlighting.njk
  metalsmith.js
  package-lock.json
  package.json
  src/index.css
  src/index.js
  src/index.njk.md
Due: prettier --write, stylelint, eslint

Revert "Add back blazy"
  package-lock.json
  package.json
  src/index.js
Due: prettier --write, eslint

Revert "Clean up markdown"
  src/index.njk.md
Due: none

Revert "Add minification"
  lib/js/filter/index.js
  metalsmith.js
  package-lock.json
  package.json
  src/index.js
Due: prettier --write, eslint

Revert "Use highlight.js for syntax highlighting"
  metalsmith.js
  package-lock.json
  package.json
  src/index.css
  src/index.js
  src/index.njk.md
Due: prettier --write, stylelint, eslint

Revert "Restructure css"
  lib/css/base/media.css
  lib/css/base/symbol-set.css
  lib/css/base/tags.css
  lib/css/base/variables.css
  lib/css/components/body.css
  lib/css/components/example-list.css
  lib/css/components/example.css
  lib/css/components/footer.css
  lib/css/components/header.css
  lib/css/components/plugin-filter.css
  lib/css/components/plugin.css
Due: prettier --write, stylelint

Revert "Add component logo"
  src/img/logo.svg
  src/index.css
Due: prettier --write, stylelint

Revert "Use prism-themes"
  package-lock.json
  package.json
  src/index.css
Due: prettier --write, stylelint

Revert "Add development npm tasks"
  Readme.md
  package-lock.json
  package.json
Due: none

Revert "Remove unused plugins"
  package-lock.json
  package.json
Due: none

Revert "Add browserify"
  lib/js/filter/index.js
  metalsmith.js
  package-lock.json
  package.json
  src/index.js
Due: prettier --write, eslint

Revert "Add editorconfig"
  .editorconfig
Due: none

Revert "Add nvmrc"
  .nvmrc
Due: none

Revert "Align styles to match current site"
  lib/css/base/tags.css
  lib/css/components/example.css
  lib/css/components/plugin.css
Due: prettier --write, stylelint

Revert "Fix in-place configuration mistake"
  metalsmith.js
Due: prettier --write, eslint

Revert "Add heroku configuration"
  package.json
Due: none

Revert "Set layout in file instead of with default"
  metalsmith.js
  src/index.njk.md
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: *.css) or (any of: *.js)
  stylelint: any of: *.css
  eslint: any of: *.js
