Repository metalsmith/metalsmith.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint, eslint

Revert "Update package lock"
  package-lock.json
Due: none

Revert "Add eslint"
  .eslintignore
  .eslintrc
  .eslintrc.js
  lib/js/filter/index.js
  metalsmith.js
  package-lock.json
  package.json
Due: prettier --write, eslint

Revert "Add browserify"
  lib/js/filter/index.js
  metalsmith.js
  package-lock.json
  package.json
  src/index.js
Due: prettier --write, eslint

Revert "Add nvmrc"
  .nvmrc
Due: none

Revert "Set layout in file instead of with default"
  metalsmith.js
  src/index.njk.md
Due: prettier --write, eslint

Revert "Remove broken link"
  lib/views/base.njk
Due: none

Revert "Start refactor"
  .ruby-version
  Gruntfile.js
  component.json
  images/divider-1.png
  images/divider-2.png
  images/divider-3.png
  images/divider-4.png
  images/divider-5.png
  images/divider-6.png
  images/facebook-image.png
  images/favicon.png
  images/ground.jpg
  images/twitter-image.png
  index.css
  index.html
  index.js
  metalsmith.js
  package-lock.json
  package.json
  run_build.js
  src/examples.json
  src/index.md
  src/plugins.json
  verify/build.js
Due: prettier --write, stylelint, eslint

Revert "Fix css variable name"
  lib/css/base/tags.css
Due: prettier --write, stylelint

Revert "Use prism-themes"
  package-lock.json
  package.json
  src/index.css
Due: prettier --write, stylelint

Revert "Remove bithound badges"
  lib/css/components/plugin.css
  metalsmith.js
  src/index.njk.md
Due: prettier --write, stylelint, eslint

Revert "Livereload on markdown changes"
  package.json
Due: none

Revert "Add gitattributes"
  .gitattributes
Due: none

Revert "Use highlight.js for syntax highlighting"
  metalsmith.js
  package-lock.json
  package.json
  src/index.css
  src/index.js
  src/index.njk.md
Due: prettier --write, stylelint, eslint

Revert "Restructure css"
  lib/css/base/media.css
  lib/css/base/symbol-set.css
  lib/css/base/tags.css
  lib/css/base/variables.css
  lib/css/components/body.css
  lib/css/components/example-list.css
  lib/css/components/example.css
  lib/css/components/footer.css
  lib/css/components/header.css
  lib/css/components/plugin-filter.css
  lib/css/components/plugin.css
Due: prettier --write, stylelint

Restore build verification
  .travis.yml
  README.md
  metalsmith.test.js
  package-lock.json
  package.json
Due: prettier --write, eslint

Align styles to match current site
  lib/css/base/tags.css
  lib/css/components/example.css
  lib/css/components/plugin.css
Due: prettier --write, stylelint

Clean up markdown
  src/index.njk.md
Due: none

Use highlight.js for syntax highlighting
  metalsmith.js
  package-lock.json
  package.json
  src/index.css
  src/index.js
  src/index.njk.md
Due: prettier --write, stylelint, eslint

Add editorconfig
  .editorconfig
Due: none

Add back blazy
  package-lock.json
  package.json
  src/index.js
Due: prettier --write, eslint

Add nvmrc
  .nvmrc
Due: none

Set layout in file instead of with default
  metalsmith.js
  src/index.njk.md
Due: prettier --write, eslint

Add heroku configuration
  package.json
Due: none

Lint metalsmith build script as well
  .eslintignore
  .eslintrc.js
  lib/.eslintrc.js
  metalsmith.js
  src/.eslintrc.js
Due: prettier --write, eslint

Remove broken link
  lib/views/base.njk
Due: none

Fix suitcss compliance
  .stylelintrc.js
  lib/css/base/symbol-set.css
  lib/css/components/body.css
  lib/css/components/example-list.css
  lib/css/components/example.css
  lib/css/components/footer.css
  lib/css/components/header.css
  lib/css/components/plugin-filter.css
  lib/css/components/plugin-list.css
  lib/css/components/plugin.css
  lib/js/filter/index.js
  lib/views/base.njk
  package-lock.json
  package.json
  src/index.js
  src/index.njk.md
Due: prettier --write, stylelint, eslint

Add prettier, stylelint and lint-staged
  .lintstagedrc
  .prettierignore
  .prettierrc
  .stylelintignore
  .stylelintrc.js
  lib/css/base/tags.css
  lib/css/base/variables.css
  lib/css/components/example.css
  lib/css/components/footer.css
  lib/css/components/header.css
  lib/css/components/highlight.css
  lib/css/components/plugin-filter.css
  lib/css/components/plugin.css
  lib/css/components/symbol-set.css
  lib/js/filter/index.js
  metalsmith.js
  package-lock.json
  package.json
Due: prettier --write, stylelint, eslint

Add gitattributes
  .gitattributes
Due: none

Remove highlighting lib
  lib/views/base.njk
Due: none

Add browserify
  lib/js/filter/index.js
  metalsmith.js
  package-lock.json
  package.json
  src/index.js
Due: prettier --write, eslint

Add minification
  lib/js/filter/index.js
  metalsmith.js
  package-lock.json
  package.json
  src/index.js
Due: prettier --write, eslint

Remove bithound badges
  lib/css/components/plugin.css
  metalsmith.js
  src/index.njk.md
Due: prettier --write, stylelint, eslint

Restructure css
  lib/css/base/media.css
  lib/css/base/symbol-set.css
  lib/css/base/tags.css
  lib/css/base/variables.css
  lib/css/components/body.css
  lib/css/components/example-list.css
  lib/css/components/example.css
  lib/css/components/footer.css
  lib/css/components/header.css
  lib/css/components/plugin-filter.css
  lib/css/components/plugin.css
Due: prettier --write, stylelint

Livereload on markdown changes
  package.json
Due: none

Add eslint
  .eslintignore
  .eslintrc
  .eslintrc.js
  lib/js/filter/index.js
  metalsmith.js
  package-lock.json
  package.json
Due: prettier --write, eslint

Add development npm tasks
  README.md
  package-lock.json
  package.json
Due: none

Fix in-place configuration mistake
  metalsmith.js
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: *.css) or (any of: *.js)
  stylelint: any of: *.css
  eslint: any of: *.js
