Repository metalsmith/metalsmith.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint, eslint

.lintstagedrc:

{
  "*.css": [
    "prettier --write",
    "git add",
    "stylelint"
  ],
  "*.js": [
    "prettier --write",
    "git add",
    "eslint"
  ]
}

Revert "Fix suitcss compliance"
  .stylelintrc.js
  lib/css/components/body.css
  lib/css/components/example-list.css
  lib/css/components/example.css
  lib/css/components/footer.css
  lib/css/components/header.css
  lib/css/components/plugin-filter.css
  lib/css/components/plugin-list.css
  lib/css/components/plugin.css
  lib/css/components/symbol-set.css
  lib/js/filter/index.js
  lib/views/base.njk
  package-lock.json
  package.json
  src/index.js
  src/index.njk.md
Due: prettier --write, stylelint, eslint

Revert "Remove vendor css"
  .prettierignore
  .stylelintignore
  lib/css/vendor/prism.css
  lib/css/vendor/symbolset.css
  lib/views/base.njk
  src/index.css
Due: prettier --write, stylelint

Revert "Add gitattributes"
  .gitattributes
Due: none

Revert "Lint metalsmith build script as well"
  .eslintignore
  .eslintrc.js
  lib/.eslintrc.js
  metalsmith.js
  src/.eslintrc.js
Due: prettier --write, eslint

Revert "Add prettier, stylelint and lint-staged"
  .lintstagedrc
  .prettierignore
  .prettierrc
  .stylelintignore
  .stylelintrc.js
  lib/css/base/tags.css
  lib/css/base/variables.css
  lib/css/components/example.css
  lib/css/components/footer.css
  lib/css/components/header.css
  lib/css/components/highlight.css
  lib/css/components/plugin-filter.css
  lib/css/components/plugin.css
  lib/css/components/symbol-set.css
  lib/js/filter/index.js
  metalsmith.js
  package-lock.json
  package.json
Due: prettier --write, stylelint, eslint

Revert "Fix css variables"
  src/index.css
Due: prettier --write, stylelint

Revert "Move husky config"
  .huskyrc
  package.json
Due: none

Revert "Use consistent variable references"
  lib/views/partials/facebook.njk
  lib/views/partials/twitter.njk
Due: none

Revert "Livereload on markdown changes"
  package.json
Due: none

Revert "Fix css variable name"
  lib/css/base/tags.css
Due: prettier --write, stylelint

Revert "Remove highlighting lib"
  lib/views/base.njk
Due: none

Revert "Remove bithound badges"
  lib/css/components/plugin.css
  metalsmith.js
  src/index.njk.md
Due: prettier --write, stylelint, eslint

Revert "Start refactor"
  .ruby-version
  Gruntfile.js
  component.json
  images/divider-1.png
  images/divider-2.png
  images/divider-3.png
  images/divider-4.png
  images/divider-5.png
  images/divider-6.png
  images/facebook-image.png
  images/favicon.png
  images/ground.jpg
  images/twitter-image.png
  index.css
  index.html
  index.js
  metalsmith.js
  package-lock.json
  package.json
  run_build.js
  src/examples.json
  src/index.md
  src/plugins.json
  verify/build.js
Due: prettier --write, stylelint, eslint

Revert "Remove broken link"
  lib/views/base.njk
Due: none

Revert "Remove unused fonts"
  lib/css/base/tags.css
  lib/css/base/variables.css
  lib/css/components/footer.css
  lib/css/components/header.css
Due: prettier --write, stylelint

Revert "Update package lock"
  package-lock.json
Due: none

Revert "Add eslint"
  .eslintignore
  .eslintrc
  .eslintrc.js
  lib/js/filter/index.js
  metalsmith.js
  package-lock.json
  package.json
Due: prettier --write, eslint

Revert "Add minification"
  lib/js/filter/index.js
  metalsmith.js
  package-lock.json
  package.json
  src/index.js
Due: prettier --write, eslint

Revert "Add editorconfig"
  .editorconfig
Due: none

Revert "Fix in-place configuration mistake"
  metalsmith.js
Due: prettier --write, eslint

Revert "Add back blazy"
  package-lock.json
  package.json
  src/index.js
Due: prettier --write, eslint

Revert "Add heroku configuration"
  package.json
Due: none

Revert "Use prismjs for syntax highlighting"
  .prettierignore
  .stylelintignore
  lib/css/vendor/prism.css
  lib/css/vendor/symbolset.css
  lib/views/base.njk
  lib/views/partials/highlighting.njk
  metalsmith.js
  package-lock.json
  package.json
  src/index.css
  src/index.js
  src/index.njk.md
Due: prettier --write, stylelint, eslint

Revert "Add development npm tasks"
  Readme.md
  package-lock.json
  package.json
Due: none

Revert "Align styles to match current site"
  lib/css/base/tags.css
  lib/css/components/example.css
  lib/css/components/plugin.css
Due: prettier --write, stylelint

Revert "Restore build verification"
  .travis.yml
  README.md
  metalsmith.test.js
  package-lock.json
  package.json
Due: prettier --write, eslint

Revert "Remove unused plugins"
  package-lock.json
  package.json
Due: none

Revert "Clean up markdown"
  src/index.njk.md
Due: none

Revert "Add component logo"
  src/img/logo.svg
  src/index.css
Due: prettier --write, stylelint
